<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AutoPark</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/assets/css/main.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Bootslander
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="/assets/img/logo.png" alt=""> -->
      <h1 class="sitename">AutoPark</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Inicio</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="#features">Características</a></li>
        <li><a href="#details">Detalle</a></li>
        <li><a href="#gallery">Galeria</a></li>
        <li><a href="#pricing">Precios</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>

<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="/assets/img/hero-bg-2.jpg" alt="Imagen de fondo" class="hero-bg">

    <div class="container">
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
          <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="Imagen de AutoPark">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-in">
          <h1>Gestiona tu Parqueadero con <span>AutoPark</span></h1>
          <p>La plataforma inteligente para monitorear entradas y salidas, gestionar disponibilidad, y procesar pagos en parqueaderos, todo en tiempo real.</p>
          <div class="d-flex">
            <a href="/login" class="btn-get-started">Ingresar</a>
            <a href="https://tinyurl.com/29wosdu4" class="glightbox btn-watch-video d-flex align-items-center">
              <i class="bi bi-play-circle"></i><span>Avatar</span>
            </a>
            <a href="https://scratch.mit.edu/projects/1092047686/embed" class="glightbox btn-watch-video d-flex align-items-center">
              <i class="bi bi-play-circle"></i><span>Juego</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9"></use>
      </g>
    </svg>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">

        <div class="col-xl-5 content">
          <h3>Sobre Nosotros</h3>
          <h2>AutoPark: Soluciones Inteligentes para Parqueaderos</h2>
          <p>AutoPark es una plataforma innovadora diseñada para optimizar la gestión de parqueaderos. Con nuestras herramientas inteligentes, puedes controlar el flujo de vehículos, gestionar la disponibilidad en tiempo real y asegurar una experiencia sin complicaciones para los usuarios.</p>
          <a href="#details" class="read-more"><span>Más Información</span><i class="bi bi-arrow-right"></i></a>
        </div>

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <i class="bi bi-buildings"></i>
                <h3>Control de Accesos</h3>
                <p>Gestión eficiente de entradas y salidas, con monitoreo en tiempo real para mejorar la seguridad y control.</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-clipboard-pulse"></i>
                <h3>Disponibilidad en Tiempo Real</h3>
                <p>Información actualizada de los espacios disponibles, para que los usuarios encuentren lugar sin dificultades.</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-command"></i>
                <h3>Facilidad de Uso</h3>
                <p>Interfaz intuitiva que facilita el acceso a todas las funciones del sistema, permitiendo una gestión sin complicaciones.</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="bi bi-graph-up-arrow"></i>
                <h3>Estadísticas y Reportes</h3>
                <p>Obtén reportes detallados sobre el uso y rendimiento del parqueadero para una toma de decisiones informada.</p>
              </div>
            </div> <!-- End Icon Box -->

          </div>
        </div>

      </div>
    </div>

  </section><!-- /About Section -->

  <!-- Features Section -->
  <section id="features" class="features section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="features-item">
            <i class="bi bi-eye" style="color: #ffbb2c;"></i>
            <h3><a href="#features" class="stretched-link">Monitoreo en Tiempo Real</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="features-item">
            <i class="bi bi-infinity" style="color: #5578ff;"></i>
            <h3><a href="#features" class="stretched-link">Gestión de Espacios</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="features-item">
            <i class="bi bi-mortarboard" style="color: #e80368;"></i>
            <h3><a href="#features" class="stretched-link">Interfaz Intuitiva</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="features-item">
            <i class="bi bi-nut" style="color: #e361ff;"></i>
            <h3><a href="#features" class="stretched-link">Integración de Seguridad</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <div class="features-item">
            <i class="bi bi-shuffle" style="color: #47aeff;"></i>
            <h3><a href="#features" class="stretched-link">Optimización de Rutas</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
          <div class="features-item">
            <i class="bi bi-star" style="color: #ffa76e;"></i>
            <h3><a href="#features" class="stretched-link">Reservas de Espacios</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
          <div class="features-item">
            <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
            <h3><a href="#features" class="stretched-link">Reportes y Análisis</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
          <div class="features-item">
            <i class="bi bi-camera-video" style="color: #4233ff;"></i>
            <h3><a href="#features" class="stretched-link">Sistema de Videovigilancia</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
          <div class="features-item">
            <i class="bi bi-command" style="color: #b2904f;"></i>
            <h3><a href="#features" class="stretched-link">Control de Acceso</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1000">
          <div class="features-item">
            <i class="bi bi-dribbble" style="color: #b20969;"></i>
            <h3><a href="#features" class="stretched-link">Soporte Multidispositivo</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1100">
          <div class="features-item">
            <i class="bi bi-activity" style="color: #ff5828;"></i>
            <h3><a href="#features" class="stretched-link">Alertas en Tiempo Real</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1200">
          <div class="features-item">
            <i class="bi bi-brightness-high" style="color: #29cc61;"></i>
            <h3><a href="#features" class="stretched-link">Personalización Avanzada</a></h3>
          </div>
        </div><!-- End Feature Item -->

      </div>

    </div>

  </section><!-- /Features Section -->

  <!-- Details Section -->
  <section id="details" class="details section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Detalles</h2>
      <div><span>Descubre nuestros</span> <span class="description-title">Detalles</span></div>
    </div><!-- End Section Title -->

    <div class="container">

      <!-- Misión Item -->
      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <img src="/assets/img/details-1.png" class="img-fluid" alt="Misión">
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
          <h3>Misión</h3>
          <p class="fst-italic">
            Nuestra misión es ofrecer un sistema innovador y accesible para la gestión de parqueaderos, optimizando el uso de los espacios disponibles y mejorando la experiencia de nuestros usuarios.
          </p>
          <ul>
            <li><i class="bi bi-check"></i><span> Optimizar el uso de los parqueaderos disponibles.</span></li>
            <li><i class="bi bi-check"></i><span> Brindar una experiencia de usuario intuitiva y eficaz.</span></li>
            <li><i class="bi bi-check"></i><span> Mejorar la eficiencia en la gestión del espacio y el tiempo.</span></li>
          </ul>
        </div>
      </div><!-- Misión Item -->

      <!-- Visión Item -->
      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/assets/img/details-2.png" class="img-fluid" alt="Visión">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Visión</h3>
          <p class="fst-italic">
            Nuestra visión es ser líderes en el sector de gestión de parqueaderos, brindando soluciones tecnológicas sostenibles que faciliten la vida urbana y promuevan un uso eficiente de los espacios.
          </p>
          <p>
            A través de la innovación continua y el compromiso con la sostenibilidad, buscamos expandir nuestras soluciones a nivel global, transformando la manera en que las ciudades gestionan los parqueaderos.
          </p>
        </div>
      </div><!-- Visión Item -->

      <!-- Valores Item -->
      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
          <img src="/assets/img/details-3.png" class="img-fluid" alt="Valores">
        </div>
        <div class="col-md-7" data-aos="fade-up">
          <h3>Valores</h3>
          <p>Nos guiamos por principios fundamentales que nos permiten ofrecer un servicio de calidad mientras promovemos el bienestar de nuestros usuarios y el respeto por el entorno.</p>
          <ul>
            <li><i class="bi bi-check"></i> <span>Innovación constante en nuestras soluciones.</span></li>
            <li><i class="bi bi-check"></i><span> Compromiso con la eficiencia y la sostenibilidad.</span></li>
            <li><i class="bi bi-check"></i> <span>Responsabilidad social y ética en cada acción.</span></li>
          </ul>
        </div>
      </div><!-- Valores Item -->

      <!-- Compromiso Item -->
      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
          <img src="/assets/img/details-4.png" class="img-fluid" alt="Compromiso">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
          <h3>Compromiso</h3>
          <p class="fst-italic">
            Estamos comprometidos con la mejora continua de nuestros servicios, garantizando la satisfacción total de nuestros usuarios y colaboradores.
          </p>
          <p>
            Fomentamos relaciones a largo plazo, basadas en la confianza, la transparencia y la responsabilidad, asegurando siempre el éxito y la eficiencia de cada operación.
          </p>
        </div>
      </div><!-- Compromiso Item -->

    </div>

  </section><!-- /Details Section -->

  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery</h2>
      <div><span>Dale un</span> <span class="description-title">Vistazo</span></div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="/assets/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
              <img src="/assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div><!-- End Gallery Item -->

      </div>

    </div>

  </section><!-- /Gallery Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section dark-background">

    <img src="/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Fernando Martínez</h3>
              <h4>Propietario de Estacionamiento</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>"La facilidad de administración del sistema y su interfaz amigable nos ha permitido ofrecer un servicio más organizado y eficiente a nuestros usuarios. ¡Altamente recomendable!"</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Laura García</h3>
              <h4>Gerente de Parqueaderos</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>"El sistema ha transformado la manera en que gestionamos nuestros parqueaderos. Es fácil de usar, eficiente y nos ha permitido mejorar la experiencia de nuestros clientes."</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Patricia Ramírez</h3>
              <h4>Directora de Operaciones</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>"Desde que implementamos el sistema, la gestión de parqueaderos es mucho más sencilla. Además, la atención al cliente ha mejorado considerablemente, gracias a las notificaciones automáticas."</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Carlos Pérez</h3>
              <h4>Administrador de Parqueadero</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>"El sistema ha reducido el tiempo de espera de nuestros clientes y ha mejorado la eficiencia en la gestión de los espacios disponibles. Una inversión que vale la pena."</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>José Luis Fernández</h3>
              <h4>Empresario</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>"El sistema de administración ha facilitado la asignación de espacios en nuestros parqueaderos, lo que ha optimizado las operaciones diarias y mejorado la satisfacción de nuestros clientes."</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->

  <!-- Pricing Section -->
  <section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Planes de Precios</h2>
      <div><span>Consulta nuestros</span> <span class="description-title">Planes</span></div>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <!-- Free Plan -->
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Plan Gratuito</h3>
            <p class="description">Acceso a funciones básicas para pequeños proyectos o usuarios ocasionales.</p>
            <h4><sup>$</sup>0<span> / mes</span></h4>
            <a href="#pricing" class="cta-btn">Comienza una prueba gratuita</a>
            <p class="text-center small">No se requiere tarjeta de crédito</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Acceso limitado a 10 espacios de estacionamiento</span></li>
              <li><i class="bi bi-check"></i> <span>Soporte básico vía email</span></li>
              <li><i class="bi bi-check"></i> <span>Acceso a informes mensuales</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Acceso a estadísticas avanzadas</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Integración con otras plataformas</span></li>
            </ul>
          </div>
        </div><!-- End Pricing Item -->

        <!-- Business Plan -->
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-item featured">
            <p class="popular">Popular</p>
            <h3>Plan Empresarial</h3>
            <p class="description">Para empresas que necesitan gestionar múltiples espacios de estacionamiento.</p>
            <h4><sup>$</sup>29<span> / mes</span></h4>
            <a href="#pricing" class="cta-btn">Comienza una prueba gratuita</a>
            <p class="text-center small">No se requiere tarjeta de crédito</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Hasta 50 espacios de estacionamiento</span></li>
              <li><i class="bi bi-check"></i> <span>Soporte prioritario vía chat en vivo</span></li>
              <li><i class="bi bi-check"></i> <span>Acceso a informes diarios</span></li>
              <li><i class="bi bi-check"></i> <span>Integración con plataformas de pago</span></li>
              <li><i class="bi bi-check"></i> <span>Acceso a estadísticas avanzadas</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Funciones de personalización avanzadas</span></li>
            </ul>
          </div>
        </div><!-- End Pricing Item -->

        <!-- Developer Plan -->
        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="pricing-item">
            <h3>Plan Desarrollador</h3>
            <p class="description">Para desarrolladores que necesitan integraciones personalizadas y acceso a la API.</p>
            <h4><sup>$</sup>49<span> / mes</span></h4>
            <a href="#pricing" class="cta-btn">Comienza una prueba gratuita</a>
            <p class="text-center small">No se requiere tarjeta de crédito</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Acceso completo a la API de parqueadero</span></li>
              <li><i class="bi bi-check"></i> <span>Soporte personalizado para desarrolladores</span></li>
              <li><i class="bi bi-check"></i> <span>Integración avanzada con plataformas externas</span></li>
              <li><i class="bi bi-check"></i> <span>Acceso a todas las estadísticas y reportes</span></li>
              <li><i class="bi bi-check"></i> <span>Soporte técnico en tiempo real</span></li>
            </ul>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>

  </section><!-- /Pricing Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contacto</h2>
      <div><span>¡Hablemos!</span></div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Dirección</h3>
              <p>Calle 123, Bucaramanga, Colombia</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Teléfono</h3>
              <p>+57 123 456 789</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email</h3>
              <p>info@autopark.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required="">
              </div>

              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Tu Correo" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">¡Tu mensaje ha sido enviado! Gracias.</div>

                <button type="submit">Enviar Mensaje</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>

<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">AutoPark</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Calle 123</p>
          <p>Bucaramanga, Colombia</p>
          <p class="mt-3"><strong>Teléfono:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@autopark.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="#footer"><i class="bi bi-twitter-x"></i></a>
          <a href="#footer"><i class="bi bi-facebook"></i></a>
          <a href="#footer"><i class="bi bi-instagram"></i></a>
          <a href="#footer"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Enlaces útiles</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#pricing">Servicios</a></li>
          <li><a href="#footer">Términos de servicio</a></li>
          <li><a href="#footer">Política de privacidad</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#footer">Gestión de aparcamientos</a></li>
          <li><a href="#footer">Desarrollo web</a></li>
          <li><a href="#footer">Gestión de productos</a></li>
          <li><a href="#footer">Marketing digital</a></li>
          <li><a href="#footer">Diseño gráfico</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Nuestro Boletín</h4>
        <p>¡Suscríbete a nuestro boletín y recibe las últimas noticias sobre nuestros productos y servicios!</p>
        <form action="forms/newsletter.php" method="post" class="php-email-form">
          <div class="newsletter-form"><input type="email" name="email" placeholder="Tu correo electrónico"><input type="submit" value="Suscribirse"></div>
          <div class="loading">Cargando</div>
          <div class="error-message"></div>
          <div class="sent-message">Tu solicitud de suscripción ha sido enviada. ¡Gracias!</div>
        </form>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">AutoPark</strong> <span>Todos los derechos reservados</span></p>
    <div class="credits">
      <!-- Todos los enlaces en el pie de página deben permanecer intactos. -->
      <!-- Puedes eliminar los enlaces solo si has comprado la versión pro. -->
      <!-- Información de licencias: https://bootstrapmade.com/license/ -->
      <!-- Compra la versión pro con formulario de contacto PHP/AJAX funcional: [buy-url] -->
      Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a> Distribuido por <a href="https://themewagon.com">ThemeWagon</a>
    </div>
  </div>

</footer>


<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>